<!--********** TPL NAME = content **********-->
            <table border=1 bordercolor="{%::_SKIN[bordercolor]%}" style="border-collapse:collapse;" width=100% cellpadding=0>
              <tr>
                <td class="corp2" bgcolor="{%::_SKIN[bgtable2]%}">
		  <center><font size={%::_SKIN[middlefont]%}>
		  <b><u>{%LNG[titlesection]%}</u></b></font><p>
		  
		  <hr color="{%::_SKIN[bordercolor]%}">
		  
		  {%box[admcontent]%}
		  
		  <hr color="{%::_SKIN[bordercolor]%}"><p>
		  		  		  		      
		</td>
              </tr>
            </table>
            
<!--********** TPL NAME = tableskin **********-->
		  <font size={%::_SKIN[middlefont]%}><b>{%LNG[skinwarning]%}</b></font><p>
		  	          
		  <table border=1 bordercolor="{%::_SKIN[bordercolor]%}" style="border-collapse:collapse;" width=350 cellpadding=5>
	            <tr>
	              <td class="corp" colspan="2" bgcolor="{%::_SKIN[bgtable3]%}" align="center">
	                <font size={%::_SKIN[middlefont]%}><b><u>{%LNG[tt_skintodel]%}</u></b></font><br>
	              </td>
	            </tr>
	            {%box[ligneskin]%}
	          </table>
	          
<!--********** TPL NAME = ligneskin **********-->
	            <tr>
	              <td class="corp" width=30 bgcolor="{%::_SKIN[bgtable1]%}" nowrap>
	                <font size={%::_SKIN[middlefont]%}><b>{%::Skin[id]%}</b></font><br>
	              </td>
	              <td class="corp" width="320" bgcolor="{%::_SKIN[bgtable1]%}">
	                <font size={%::_SKIN[middlefont]%}><a href="supskin.php?action=sup&id={%::Skin[id]%}" class="men">{%::Skin[valeur]%}</a></font><br>
	              </td>
	            </tr>
	            
<!--********** TPL NAME = noskin **********-->
	            <tr>
	              <td class="corp" colspan=2 bgcolor="{%::_SKIN[bgtable1]%}" align="center">
	                <font size={%::_SKIN[middlefont]%}><b>{%LNG[noskin]%}</b></font><br>
	              </td>
	            </tr>	            
	            
	            
	            
	            