<!--********** TPL NAME = repaccueil **********-->

{%box[javascript]%}

<script language="javascript">
<!--
var submit=false;

function testsubmit()
{
	if(wysiwyg){
	  if(ie){
		document.formulaire.msg.value = edit.innerHTML;
	  }
	  else{
		document.formulaire.msg.value = editelem.body.innerHTML;
	  }
	}
	if (submit==false)
	{
		submit=true
		document.formulaire.target = "";
		document.formulaire.action.value="savemsg";
		return true;
	}
	else
	{
		return false;
	}
}

function InitGotorep()
{
	if( window.addEventListener )
		document.addEventListener('keydown',gotorep,true);
	else if( window.attachEvent )
		document.attachEvent('onkeydown',gotorep);
}
function StopGotorep()
{
	if( window.addEventListener )
		document.removeEventListener('keypress',gotorep,true);
	else if( window.attachEvent )
		document.detachEvent('onkeypress',gotorep);
}
function gotorep(evnt)
{
	cle1 = document.all ? event.keyCode : evnt.which;
	cle2 = document.all ? event.altKey : evnt.altKey;
	if( (cle1 == 115 || cle1 == 83) && cle2 == true )
	{
		if(testsubmit())
		{
			document.formulaire.submit();
		}
	}

}
InitGotorep();

function preview()
{
	largeur=screen.width - 150;
	hauteur=screen.height - 150;
	gauche=(screen.width - largeur) / 2;
	haut = (screen.height - hauteur) / 2;

	if(wysiwyg){
	  if(ie){
		document.formulaire.msg.value = edit.innerHTML;
	  }
	  else{
		document.formulaire.msg.value = editelem.body.innerHTML;
	  }
	}
	
	document.formulaire.action.value="preview";
	document.formulaire.target = "MyWindow";
	window.open("","MyWindow","height="+hauteur+", width="+largeur+",scrollbars=yes,left="+gauche+",top="+haut+",titlebar=no,toolbar=no,personalbar=no,menubar=no"); 
	document.formulaire.submit();
}
function copylink(id)
{
	if(window.clipboardData)
	{
		var link = window.location.href;
		var pos = link.lastIndexOf('#');
		if(pos>0)
			link = link.substring(0,pos);
		window.clipboardData.setData('Text',link+'#'+id);
	}
}
//-->
</script>

<table border=0 width=100% cellpadding=0 cellspacing=0>
  <tr>
    <td width="30" nowrap background="{%::_SKIN[repimg]%}/bggauche.gif">&nbsp;</td>
    <form name="formulaire" onsubmit="return testsubmit()" action="repondre.php" method="post">
    <td bgcolor="{%::_SKIN[bg2]%}">
      <table border=1 bordercolor="{%::_SKIN[bordercolor]%}" width=100% cellpadding=4 cellspacing=0 style="border-collapse: collapse;">
        <tr bgcolor="{%::_SKIN[bgtable3]%}">
          <td colspan=2 class="corp">
            <font size={%::_SKIN[middlefont]%}><B>{%LNG[addmsgtitle]%}</B></font>
          </td>
        </tr>
        {%box[errorbox]%}
        {%box[pseudobox]%}
        <tr>
          <td bgcolor={%::_SKIN[bgtable1]%} class="corp" width="150" valign="top">
            <font size={%::_SKIN[middlefont]%}><b><u>{%LNG[pstr_sujet]%}</u></b></font>
          </td>
          <td bgcolor={%::_SKIN[bgtable2]%} class="corp2">
            <font size={%::_SKIN[smallfont]%}>
            <input type="text" name="sujet" size="40" class=form maxlength={%::_FORUMCFG[limittopiclength]%} value="{%::Subject%}"> {%box[facultatif]%}
            </font>
          </td>
        </tr>
      </table>
      <img src="{%::_SKIN[repimg]%}/blank.gif"><br>
      <table border=1 bordercolor="{%::_SKIN[bordercolor]%}" width=100% cellpadding=4 cellspacing=0 style="border-collapse: collapse;">
        <tr>
          <td bgcolor={%::_SKIN[bgtable1]%} class="corp" valign=top>
            <font size={%::_SKIN[middlefont]%}><b><u>{%LNG[pstr_icon]%}</u></b></font>
          </td>
          <td bgcolor={%::_SKIN[bgtable2]%} class="corp">
	                  <input type="radio" name="icon" value="icon1" {%::Icon_Select[1]%}><img src="icones/icon1.gif">
	      &nbsp;&nbsp;<input type="radio" name="icon" value="icon2" {%::Icon_Select[2]%}><img src="icones/icon2.gif">
	      &nbsp;&nbsp;<input type="radio" name="icon" value="icon3" {%::Icon_Select[3]%}><img src="icones/icon3.gif">
	      &nbsp;&nbsp;<input type="radio" name="icon" value="icon4" {%::Icon_Select[4]%}><img src="icones/icon4.gif">
	      &nbsp;&nbsp;<input type="radio" name="icon" value="icon5" {%::Icon_Select[5]%}><img src="icones/icon5.gif">
	      &nbsp;&nbsp;<input type="radio" name="icon" value="icon6" {%::Icon_Select[6]%}><img src="icones/icon6.gif">
	      &nbsp;&nbsp;<input type="radio" name="icon" value="icon7" {%::Icon_Select[7]%}><img src="icones/icon7.gif">
	      &nbsp;&nbsp;<input type="radio" name="icon" value="icon8" {%::Icon_Select[8]%}><img src="icones/icon8.gif"><br>
		
	                  <input type="radio" name="icon" value="icon9" {%::Icon_Select[9]%}><img src="icones/icon9.gif">
	      &nbsp;&nbsp;<input type="radio" name="icon" value="icon10" {%::Icon_Select[10]%}><img src="icones/icon10.gif">
	      &nbsp;&nbsp;<input type="radio" name="icon" value="icon11" {%::Icon_Select[11]%}><img src="icones/icon11.gif">
	      &nbsp;&nbsp;<input type="radio" name="icon" value="icon12" {%::Icon_Select[12]%}><img src="icones/icon12.gif">
	      &nbsp;&nbsp;<input type="radio" name="icon" value="icon13" {%::Icon_Select[13]%}><img src="icones/icon13.gif">
	      &nbsp;&nbsp;<input type="radio" name="icon" value="icon14" {%::Icon_Select[14]%}><img src="icones/icon14.gif">
	      &nbsp;&nbsp;<input type="radio" name="icon" value="icon15" {%::Icon_Select[15]%}><img src="icones/icon15.gif">
	      &nbsp;&nbsp;<input type="radio" name="icon" value="icon16" {%::Icon_Select[16]%}><img src="icones/icon16.gif">
          </td>
        </tr>
        {%box[boxwritepage]%}
        <tr>
          <td bgcolor={%::_SKIN[bgtable1]%} class="corp" valign=top>
            <font size={%::_SKIN[middlefont]%}><b><u>{%LNG[pstr_redirect]%}</u></b></font>
          </td>
          <td bgcolor={%::_SKIN[bgtable2]%} class="corp">
            <select class="form" name="redirect" style="width:570;">
            <option value="msg">{%LNG[redirect_msg]%}</option>
            <option value="for">{%LNG[redirect_for]%}</option>
            <option value="cat">{%LNG[redirect_cat]%}</option>
            <option value="acc">{%LNG[redirect_acc]%}</option>
            </select>
          </td>
        </tr>
        {%box[affpoll]%}
        <tr bgcolor="{%::_SKIN[bgtable3]%}">
          <td colspan=2 align="center">
            <input type="hidden" name="parent" value="{%::Parent%}">
            <input type="hidden" name="forumid" value="{%::ForumID%}">
            <input type="hidden" name="action" value="savemsg">
            <input type="submit" accesskey="S" value="{%box[valuesend]%}" class=form2> 
            <input type="button" name="view" value="{%LNG[form_visu]%}" onclick="preview()" class=form2> 
            <input type=button onclick="window.location='list.php?forumid={%::ForumID%}';" value="{%LNG[form_cancel]%}" class=form2>
          </td>
        </tr>
      </table><p>
    </td>
    </form>
    <td width="30" nowrap background="{%::_SKIN[repimg]%}/bgdroite.gif">&nbsp;</td>
  </tr>
</table>
{%box[forumcontent]%}

<!--********** TPL NAME = boxguest **********-->
<TR>
  <TD bgcolor={%::_SKIN[bgtable1]%} class="corp">
    <font size={%::_SKIN[middlefont]%}><b><u>{%LNG[pseudo_guest]%}</u></b></font>
  </TD>
  <TD bgcolor={%::_SKIN[bgtable2]%} class="corp2">
    <input type="text" name="pseudo" class=form value="{%::Form_Pseudo%}">
  </TD>
</TR>

<!--********** TPL NAME = boxmembre **********-->
        <tr>
          <td bgcolor={%::_SKIN[bgtable1]%} class="corp" valign="top">
            <font size={%::_SKIN[middlefont]%}><b><u>{%LNG[pstr_pseudo]%}</u></b></font>
          </td>
          <td bgcolor={%::_SKIN[bgtable2]%} class="corp2">
            <font size={%::_SKIN[smallfont]%}>
            <b>{%::posteurpseudo%}</b>
            <input type="hidden" name="idmembre" value="{%::_USER[userid]%}">
            <input type="hidden" name="pseudo" value="{%::posteurpseudo%}">
            </font>
          </td>
        </tr>

<!--********** TPL NAME = canpoll **********-->
	    <input type="checkbox" name="newpoll" value="Y" {%box[ispoll]%}> {%LNG[sondage]%}<br>
	    &nbsp;&nbsp;&nbsp;<input type="text" size="2" name="pollnbchoice" class=form value="{%box[pollnbchoice]%}"> {%LNG[maxsond]%}

<!--********** TPL NAME = errorbox **********-->
	<tr>
  	  <td bgcolor="{%::_SKIN[bgtable3]%}" class="corp" valign="top" colspan="2">
    	    <center><font size={%::_SKIN[middlefont]%}><b>*** {%::error%} ***</b></font></center>
  	  </td>
	</tr>

<!--********** TPL NAME = pagepoll **********-->
      </table>
      <img src="{%::_SKIN[repimg]%}/blank.gif"><br>
      <table border=1 bordercolor="{%::_SKIN[bordercolor]%}" width=100% cellpadding=4 cellspacing=0 style="border-collapse: collapse;">
        <tr bgcolor="{%::_SKIN[bgtable3]%}">
          <td colspan=2 class="corp">
            <font size={%::_SKIN[middlefont]%}><B>{%LNG[sondagett]%}</B></font>
          </td>
        </tr>
	<tr>
	  <td width="220" class="corp" bgcolor={%::_SKIN[bgtable1]%} nowrap>
	    <font size={%::_SKIN[middlefont]%}><b><u>{%LNG[question]%} :</u></b></font>
	  </td>
	  <td class="corp2" bgcolor={%::_SKIN[bgtable2]%}>
	    <font size={%::_SKIN[middlefont]%}><b><input type="text" name="pollquest" value="{%::pollquest%}" size="40" class="form"></b>
	    <input type="hidden" name="newpoll" value="true"></font>
	  </td>
	</tr>
	<tr bgcolor="{%::_SKIN[bgtable1]%}">
          <td colspan=2 class="corp">
            <img src="{%::_SKIN[repimg]%}/blank.gif"><br>
          </td>
        </tr>        
{%box[pollchoix]%}
      </table>
      <img src="{%::_SKIN[repimg]%}/blank.gif"><br>
      <table border=1 bordercolor="{%::_SKIN[bordercolor]%}" width=100% cellpadding=4 cellspacing=0 style="border-collapse: collapse;">
        <tr bgcolor="{%::_SKIN[bgtable3]%}">
          <td class="corp">
            <font size={%::_SKIN[smallfont]%}><B>{%LNG[sondhelp]%}</B></font>
          </td>
        </tr>
	<tr>
          <td colspan=2 class="corp" bgcolor="{%::_SKIN[bgtable1]%}">
            <font size={%::_SKIN[smallfont]%}>{%LNG[sondhelp_cmt]%}</font><br>
          </td>
        </tr>
      </table>
      <img src="{%::_SKIN[repimg]%}/blank.gif"><br>
      <table border=1 bordercolor="{%::_SKIN[bordercolor]%}" width=100% cellpadding=4 cellspacing=0 style="border-collapse: collapse;">

<!--********** TPL NAME = pagepollchoice **********-->
	<tr>
	  <td width="220" class="corp" bgcolor={%::_SKIN[bgtable1]%} nowrap>
	    <font size={%::_SKIN[middlefont]%}><b><u>{%LNG[choix]%} {%::i%} :</u></b></font>
	  </td>
	  <td class="corp2" bgcolor={%::_SKIN[bgtable2]%}>
	    <font size={%::_SKIN[middlefont]%}><b><input type="text" name="choixvote[{%::i%}]" value="{%::pollvalue%}" size="40" class="form"></b></font>
	  </td>
	</tr> 
	
<!--********** TPL NAME = msgcache **********--> 
[ita]*** {%LNG[msgcache]%} ***[/ita]

<!--********** TPL NAME = origmsg **********-->
[quote][bold]{%LNG[origmsg]%}: {%::QuoteName%}[/bold]<br>
{%::QuoteMsg%}[/quote]