<!--********** TPL NAME = content **********-->
            <table border=1 bordercolor="{%::_SKIN[bordercolor]%}" style="border-collapse:collapse;" width=100% cellpadding=0>
              <tr>
                <td class="corp2" bgcolor="{%::_SKIN[bgtable2]%}">
		  <center><font size={%::_SKIN[middlefont]%}>
		  <b><u>{%LNG[titlesection]%}</u></b></font><p>
		  
		  <hr color="{%::_SKIN[bordercolor]%}">
		  
		  {%box[admcontent]%}
		  
		  <hr color="{%::_SKIN[bordercolor]%}"><p>
		  		  		  		      
		</td>
              </tr>
            </table>
            
<!--********** TPL NAME = registerform **********-->
/***********************************
* ID=1 - Formulaire enregistrement *
************************************/
	<script language="javascript">
	var submit=false;
	
	function testsubmit()
	{
		if (submit==false)
		{
			submit=true
			return true;
		}
		else
		{
			return false;
		}
	}
	</script>
	    <form action="addmember.php" name="formulaire" method="post" onsubmit="return testsubmit()">
	    <table border=1 bordercolor="{%::_SKIN[bordercolor]%}" width="95%" cellpadding=2 cellspacing=0 style="border-collapse: collapse;">
	      <tr>
	        <td bgcolor="{%::_SKIN[bgtable3]%}" class="corp" colspan="2">
	          <font size={%::_SKIN[middlefont]%}><b>{%LNG[tttitle]%}</b></font>
	        </td>
	      </tr>
	      {%box[errorbox]%}
  	      <tr>
    	        <td class="corp" width="220" style="padding-right:10;" bgcolor="{%::_SKIN[bgtable1]%}" nowrap>
    	          <font size={%::_SKIN[middlefont]%}><b><u>{%LNG[ttpseudo]%} :</u></b></font><br>
    	          <font size={%::_SKIN[smallfont]%}>{%LNG[cmpseudo]%}</font><br>
  	        </td>
  	        <td bgcolor="{%::_SKIN[bgtable2]%}">
   	          <input type=text name="pseudo" class=form MAXLENGTH={%::_FORUMCFG[limitloginlength]%} value="{%::Result[pseudo]%}">
   	        </td>
 	      </tr>
 	      <tr>
  	        <td class="corp" width="220" style="padding-right:10;" bgcolor="{%::_SKIN[bgtable1]%}" nowrap>
  	          <font size={%::_SKIN[middlefont]%}><b><u>{%LNG[ttpass]%} :</u></b></font><br>
  	          <font size={%::_SKIN[smallfont]%}>{%LNG[cmpass]%}</font><br>
  	        </td>
  	        <td bgcolor="{%::_SKIN[bgtable2]%}">
  	          <input type=password name="password1" class=form>
  	        </td>
  	      </tr>
 	      <tr>
  	        <td class="corp" width="220" style="padding-right:10;" bgcolor="{%::_SKIN[bgtable1]%}" nowrap>
   	          <font size={%::_SKIN[middlefont]%}><b><u>{%LNG[ttrepass]%} :</u></b></font><br>
   	          <font size={%::_SKIN[smallfont]%}>{%LNG[cmrepass]%}</font><br>
  	        </td>
  	        <td bgcolor="{%::_SKIN[bgtable2]%}">
   	          <input type=password name="password2" class=form>
  	        </td>
 	      </tr>
  	      <tr>
 	        <td class="corp" width="220" style="padding-right:10;" bgcolor="{%::_SKIN[bgtable1]%}" nowrap>
  	          <font size={%::_SKIN[middlefont]%}><b><u>{%LNG[ttemail]%}  :</u></b></font><br>
  	          <font size={%::_SKIN[smallfont]%}>{%LNG[cmemail]%}</font><br>
  	        </td>
  	        <td bgcolor="{%::_SKIN[bgtable2]%}">
   	          <input type=text name="email" class=form value="{%::Result[email]%}">
   	        </td>
 	      </tr>
	      {%box[isquestion]%}
 	      <tr height="30">
  	        <td colspan=2 align=center bgcolor="{%::_SKIN[bgtable1]%}">
   	          <input type=submit value="{%LNG[valid]%}" class=form>
   	          <input type=reset Value="{%LNG[reset]%}" class=form>
   	        </td>
 	      </tr>
	    </table>
	    <input type="hidden" name="action" value="save">
	    </form><P>

<!--********** TPL NAME = questrepform **********-->
              <tr>
  	        <td class="corp" width="220" style="padding-right:10;" bgcolor="{%::_SKIN[bgtable1]%}" nowrap>
                  <font size={%::_SKIN[middlefont]%}><b><u>{%LNG[ttquest]%} :</u></b><br>
                  <font size={%::_SKIN[smallfont]%}>{%LNG[cmquest]%}</font><br>
                  </font>
                </td>
                <td bgcolor="{%::_SKIN[bgtable2]%}">
                  <input type=text name="question" class=form>
                </td>
              </tr>
              <tr>
  	        <td class="corp" width="220" style="padding-right:10;" bgcolor="{%::_SKIN[bgtable1]%}" nowrap>
                  <font size={%::_SKIN[middlefont]%}><b><u>{%LNG[ttrep]%} :</u></b></font><br>
                  <font size={%::_SKIN[smallfont]%}>{%LNG[cmrep]%}</font><br>
                </td>
                <td bgcolor="{%::_SKIN[bgtable2]%}">
                  <input type=text name="reponse" class=form>
                </td>
              </tr>            

<!--********** TPL NAME = errorbox **********-->
	      <tr>
	        <td bgcolor="{%::_SKIN[bgtable3]%}" class="corp" colspan="2">
	          <font size={%::_SKIN[middlefont]%}><b>*** {%::error%} ***</b></font>
	        </td>
	      </tr>

<!--********** TPL NAME = registerok **********-->

      <table border=1 bordercolor="{%::_SKIN[bordercolor]%}" width=100% cellpadding=0 cellspacing=0 style="border-collapse: collapse;">
        <tr>
          <td align="center" bgcolor="{%::_SKIN[bgtable2]%}" class="corp2" align="center">
            <font size={%::_SKIN[middlefont]%}><b>{%LNG[registerok]%}</b></font>
          </td>
        </tr>
      </table><p>

            
            
            