<!--********** TPL NAME = content **********-->
            <table border=1 bordercolor="{%::_SKIN[bordercolor]%}" style="border-collapse:collapse;" width=100% cellpadding=0>
              <tr>
                <td class="corp2" bgcolor="{%::_SKIN[bgtable2]%}">
		  <center><font size={%::_SKIN[middlefont]%}>
		  <b><u>{%LNG[titlesection]%}</u></b></font><p>
		  
		  <hr color="{%::_SKIN[bordercolor]%}">
		  
		  {%box[admcontent]%}
		  
		  <hr color="{%::_SKIN[bordercolor]%}"><p>
		  		  		  		      
		</td>
              </tr>
            </table>
            
<!--********** TPL NAME = nonewversion **********-->

		  <table border=1 bordercolor="{%::_SKIN[bordercolor]%}" style="border-collapse:collapse;" width=95% cellpadding=5>
	            <tr>
	              <td class="corp" bgcolor="{%::_SKIN[bgtable1]%}" align="center" width="80%">
	                <font size={%::_SKIN[middlefont]%}>
	                {%LNG[nonewversion]%}
	                </font>
	              </td>
	            </tr>
	          </table>
	          
<!--********** TPL NAME = newversion **********-->

		  <table border=1 bordercolor="{%::_SKIN[bordercolor]%}" style="border-collapse:collapse;" width=95% cellpadding=5>
	            <tr>
	              <td class="corp" bgcolor="{%::_SKIN[bgtable1]%}" align="center" width="80%">
	                <font size={%::_SKIN[middlefont]%}>
	                {%LNG[newversion]%}<p>
	                
	                <a href="http://www.coolforum.net" class="men" target="_blank">CoolForum.net</a>
	                </font>
	              </td>
	            </tr>
	          </table>