<!--********** TPL NAME = affip **********-->

<table border=0 width=100% cellpadding=0 cellspacing=0>
  <tr>
    <td width="30" nowrap background="{%::_SKIN[repimg]%}/bggauche.gif">&nbsp;</td>
    <td bgcolor="{%::_SKIN[bg2]%}">
      <table border=1 bordercolor="{%::_SKIN[bordercolor]%}" width=100% cellpadding=0 cellspacing=0 style="border-collapse: collapse;">
        <tr height="25">
          <td align=center class="corp" bgcolor="{%::_SKIN[bgtable3]%}" {%box[affdegrad]%} bgcolor="{%::_SKIN[bgtable3]%}">
            <font size={%::_SKIN[smallfont]%}><b>&nbsp;</b></font>
          </td>
        </tr>
       </table>
       <img src="{%::_SKIN[repimg]%}/blank.gif"><br>
    </td>
    <td width="30" nowrap background="{%::_SKIN[repimg]%}/bgdroite.gif">&nbsp;</td>
  </tr>
</table>
<table border=0 width=100% cellpadding=0 cellspacing=0>
  <tr>
    <td width="30" nowrap background="{%::_SKIN[repimg]%}/bggauche.gif">&nbsp;</td>
    <td bgcolor="{%::_SKIN[bg2]%}">
      <table border=1 bordercolor="{%::_SKIN[bordercolor]%}" width=100% cellpadding=0 cellspacing=0 style="border-collapse: collapse;">
        <tr>
          <td align="center" bgcolor="{%::_SKIN[bgtable2]%}" class="corp2" align="center">
            <font size={%::_SKIN[middlefont]%}><b>
            &nbsp;<br>
            {%LNG[ifipok]%}:<p>
            {%box[affip]%}</b><p>
            </font>
          </td>
        </tr>
      </table><p>       
    </td>
    <td width="30" nowrap background="{%::_SKIN[repimg]%}/bgdroite.gif">&nbsp;</td>
  </tr>
</table>
