<!--********** TPL NAME = content **********-->
            <table border=1 bordercolor="{%::_SKIN[bordercolor]%}" style="border-collapse:collapse;" width=100% cellpadding=0>
              <tr>
                <td class="corp2" bgcolor="{%::_SKIN[bgtable2]%}">
		  <center><font size={%::_SKIN[middlefont]%}>
		  <b><u>{%LNG[titlesection]%}</u></b></font><p>
		  
		  <hr color="{%::_SKIN[bordercolor]%}">
		  
		  {%box[admcontent]%}
		  
		  <hr color="{%::_SKIN[bordercolor]%}"><p>
		  		  		  		      
		</td>
              </tr>
            </table>

<!--********** TPL NAME = menulink **********-->

<center><a href="#top" class="lien"><b>{%LNG[menuback]%}</b></a></center>
            
<!--********** TPL NAME = affaide **********-->
		  <a name="top"></A>
		  <table border=0 width=95%>
		    <tr>
		      <td class="corp2"><font size="{%::_SKIN[smallfont]%}">
			<ul>
			<li> <a href="#1" class="lien"><b>{%LNG[forumoptions]%}</b></a>
			<li> <a href="#2" class="lien"><b>{%LNG[creatcat]%}</b></a>
			<li> <a href="#3" class="lien"><b>{%LNG[creatforum]%}</b></a>
			<li> <a href="#4" class="lien"><b>{%LNG[delcatforum]%}</b></a>
			<li> <a href="#5" class="lien"><b>{%LNG[modcatforum]%}</b></a>
			<li> <a href="#6" class="lien"><b>{%LNG[modogest]%}</b></a>
			<li> <a href="#7" class="lien"><b>{%LNG[annoncestt]%}</b></a>
			<li> <a href="#8" class="lien"><b>{%LNG[infomb]%}</b></a>
			<li> <a href="#9" class="lien"><b>{%LNG[banmb]%}</b></a>
			<li> <a href="#10" class="lien"><b>{%LNG[mbwait]%}</b></a>
			<li> <a href="#11" class="lien"><b>{%LNG[skingest]%}</b></a>
			<li> <a href="#12" class="lien"><b>{%LNG[dbopt]%}</b></a>
			<li> <a href="#13" class="lien"><b>{%LNG[mailing]%}</b></a>
			<li> <a href="#14" class="lien"><b>{%LNG[pub]%}</b></a>
			</ul><p>
			
			<hr color="{%::_SKIN[bordercolor]%}"><p>
			
			<a name="1"></a>
			<B><U>{%LNG[forumoptions]%}</U></B><P>
			
			{%LNG[forumoptions_cmt]%}<p>
			
			{%box[menuback]%}
			
			<hr color="{%::_SKIN[bordercolor]%}"><p>
			
			<a name="2"></a>
			<B><U>{%LNG[creatcat]%}</U></B><P>
			
			{%LNG[creatcat_cmt]%}<p>
			
			{%box[menuback]%}			
			
			<hr color="{%::_SKIN[bordercolor]%}"><p>
			
			<a name="3"></a>
			<B><U>{%LNG[creatforum]%}</U></B><P>
			
			{%LNG[creatforum_cmt]%}<p>
			
			{%box[menuback]%}			
			
			<hr color="{%::_SKIN[bordercolor]%}"><p>
			
			<a name="4"></a>
			<B><U>{%LNG[delcatforum]%}</U></B><P>
			
			{%LNG[delcatforum_cmt]%}<p>
			
			{%box[menuback]%}
			
			<hr color="{%::_SKIN[bordercolor]%}"><p>
			
			<a name="5"></a>
			<B><U>{%LNG[modcatforum]%}</U></B><P>
			
			{%LNG[modcatforum_cmt]%}<p>
			
			{%box[menuback]%}			
			
			<hr color="{%::_SKIN[bordercolor]%}"><p>
			
			<a name="6"></a>
			<B><U>{%LNG[modogest]%}</U></B><P>
			
			{%LNG[modogest_cmt]%}<p>

			
			{%box[menuback]%}			
			
			<hr color="{%::_SKIN[bordercolor]%}"><p>
			
			<a name="7"></a>
			<B><U>{%LNG[annoncestt]%}</U></B><P>
			
			{%LNG[annoncestt_cmt]%}<p>

			{%box[menuback]%}				
			
			<hr color="{%::_SKIN[bordercolor]%}"><p>
			
			<a name="8"></a>
			<B><U>{%LNG[infomb]%}</U></B><P>
			
			{%LNG[infomb_cmt]%}<p>

			{%box[menuback]%}			
			
			<hr color="{%::_SKIN[bordercolor]%}"><p>
			
			<a name="9"></a>
			<B><U>{%LNG[banmb]%}</U></B><P>
			
			{%LNG[banmb_cmt]%}<P>

			{%box[menuback]%}			
			
			<hr color="{%::_SKIN[bordercolor]%}"><p>
			
			<a name="10"></a>
			<B><U>{%LNG[mbwait]%}</U></B><P>
			
			{%LNG[mbwait_cmt]%}<p>

			{%box[menuback]%}			
			
			<hr color="{%::_SKIN[bordercolor]%}"><p>
			
			<a name="11"></a>
			<B><U>{%LNG[skingest]%}</U></B><P>
			
			{%LNG[skingest_cmt]%}<p> 
			
			{%box[menuback]%}			
			
			<hr color="{%::_SKIN[bordercolor]%}"><p>
			
			<a name="12"></a>
			<B><U>{%LNG[dbopt]%}</U></B><P>
			
			{%LNG[dbopt_cmt]%}<p> 
			
			{%box[menuback]%}			
			
			<hr color="{%::_SKIN[bordercolor]%}"><p>
			
			<a name="13"></a>
			<B><U>{%LNG[mailing]%}</U></B><P>
			
			{%LNG[mailing_cmt]%}<p> 
			
			{%box[menuback]%}				
			
			<hr color="{%::_SKIN[bordercolor]%}"><p>
			
			<a name="14"></a>
			<B><U>{%LNG[pub]%}</U></B><P>
			
			{%LNG[pub_cmt]%}<p>
			
			{%box[menuback]%}
                      </td>
                    </tr>
                  </table><p>			
			
		
			
			
			
			
			
			
			
			
			
									