<!--********** TPL NAME = content **********-->
            <table border=1 bordercolor="{%::_SKIN[bordercolor]%}" style="border-collapse:collapse;" width=100% cellpadding=0>
              <tr>
                <td class="corp2" bgcolor="{%::_SKIN[bgtable2]%}">
		  <center><font size={%::_SKIN[middlefont]%}>
		  <b><u>{%LNG[titlesection]%}</u></b></font><p>
		  
		  <hr color="{%::_SKIN[bordercolor]%}">
		  
		  {%box[admcontent]%}
		  
		  <hr color="{%::_SKIN[bordercolor]%}"><p>
		  		  		  		      
		</td>
              </tr>
            </table>
            
<!--********** TPL NAME = accueilopt **********-->
		  <table border=1 bordercolor="{%::_SKIN[bordercolor]%}" style="border-collapse:collapse;" width=95% cellpadding=5>
		    <tr>
		      <td bgcolor="{%::_SKIN[bgtable3]%}" class="corp">
		        <font size={%::_SKIN[middlefont]%}><b><u>{%LNG[optimize]%}</u></b></font><br>
		        <font size={%::_SKIN[smallfont]%}>{%LNG[optimize_cmt]%}</font><br>
		      </td>
		    </tr>
		    <tr>
		      <form action="db_optimize.php" method="post">
		      <td bgcolor="{%::_SKIN[bgtable1]%}" class="corp" align="center">
		        <input type="hidden" name="action" value="optimize">
		        <input type="submit" value="{%LNG[gogo]%}" class="form">
		      </td>
		      </form>
		    </tr>
		  </table><p>
		  
<!--********** TPL NAME = actionopt **********-->

		  <table border=1 bordercolor="{%::_SKIN[bordercolor]%}" style="border-collapse:collapse;" width=95% cellpadding=5>
		    <tr>
		      <td bgcolor="{%::_SKIN[bgtable3]%}" class="corp">
		        <font size={%::_SKIN[middlefont]%}>
		        {%box[optimizedtble]%}<p>
		        {%LNG[finished]%}
		        </font>
		      </td>
		    </tr>
		  </table><p>
		  
<!--********** TPL NAME = opt_ok **********-->
			{%LNG[opt_ok]%}<br>

<!--********** TPL NAME = opt_nok **********-->
			{%LNG[opt_nok]%}<br>