<!--********** TPL NAME = aidegenerale **********-->

<table border=0 width=100% cellpadding=0 cellspacing=0>
  <tr>
    <td width="30" nowrap background="{%::_SKIN[repimg]%}/bggauche.gif">&nbsp;</td>
    <td bgcolor="{%::_SKIN[bg2]%}">
      <table border=1 bordercolor="{%::_SKIN[bordercolor]%}" width="100%" cellpadding=2 cellspacing=0 style="border-collapse: collapse;">
        <tr bgcolor={%::_SKIN[bgtable3]%}>
          <td class="corp">
            <font size={%::_SKIN[middlefont]%}><B>{%LNG[faq_title]%}</B></font>
          </td>
        </tr>
        <tr>
          <td class="corp2" bgcolor={%::_SKIN[bgtable2]%}>
            <font size={%::_SKIN[middlefont]%}>
            	<a name="menu"></a>
            	<UL>
	        <LI><a href="#1" class="lien"><b>{%LNG[quest1]%}</b></a>
	        <LI><a href="#2" class="lien"><b>{%LNG[quest2]%}</b></a>
	        <LI><a href="#3" class="lien"><b>{%LNG[quest3]%}</b></a>
	        <LI><a href="#4" class="lien"><b>{%LNG[quest4]%}</b></a>
	        <LI><a href="#5" class="lien"><b>{%LNG[quest5]%}</b></a>
	        <LI><a href="#7" class="lien"><b>{%LNG[quest7]%}</b></a>
	        <LI><a href="#8" class="lien"><b>{%LNG[quest8]%}</b></a>
	      </UL>
            </font>
          </td>
        </tr>

        <tr>
          <td class="corp" bgcolor={%::_SKIN[bgtable1]%}>
	    <a name="1"><font size={%::_SKIN[middlefont]%}><b><u>{%LNG[quest1]%}</u></b></font></a>
	  </td>
	</tr>
	<tr>
	  <td class="corp2" bgcolor={%::_SKIN[bgtable2]%}>
	    <font size={%::_SKIN[middlefont]%}>
	    &nbsp;<br>
	    {%LNG[msgquest1]%}<p>
	    	
	    <center><a href="#menu" class="lien"><b>{%LNG[backmenu]%}</b></a></center><p>
	    </font>
          </td>
        </tr>

        <tr>
          <td class="corp" bgcolor={%::_SKIN[bgtable1]%}>
	    <a name="2"><font size={%::_SKIN[middlefont]%}><b><u>{%LNG[quest2]%}</u></b></font></a>
	  </td>
	</tr>
	<tr>
	  <td class="corp2" bgcolor={%::_SKIN[bgtable2]%}>
	    <font size={%::_SKIN[middlefont]%}>
	    &nbsp;<br>
	    {%LNG[msgquest2]%}<p>
	    	
	    <center><a href="#menu" class="lien"><b>{%LNG[backmenu]%}</b></a></center><p>
	    </font>
          </td>
        </tr>

        <tr>
          <td class="corp" bgcolor={%::_SKIN[bgtable1]%}>
	    <a name="3"><font size={%::_SKIN[middlefont]%}><b><u>{%LNG[quest3]%}</u></b></font></a>
	  </td>
	</tr>
	<tr>
	  <td class="corp2" bgcolor={%::_SKIN[bgtable2]%}>
	    <font size={%::_SKIN[middlefont]%}>
	    &nbsp;<br>
	    {%LNG[msgquest3]%}<p>
	    	
	    <center><a href="#menu" class="lien"><b>{%LNG[backmenu]%}</b></a></center><p>
	    </font>
          </td>
        </tr>

        <tr>
          <td class="corp" bgcolor={%::_SKIN[bgtable1]%}>
	    <a name="4"><font size={%::_SKIN[middlefont]%}><b><u>{%LNG[quest4]%}</u></b></font></a>
	  </td>
	</tr>
	<tr>
	  <td class="corp2" bgcolor={%::_SKIN[bgtable2]%}>
	    <font size={%::_SKIN[middlefont]%}>
	    &nbsp;<br>
	    {%LNG[msgquest4]%}<p>
	    	
	    <center><a href="#menu" class="lien"><b>{%LNG[backmenu]%}</b></a></center><p>
	    </font>
          </td>
        </tr>
                
        <tr>
          <td class="corp" bgcolor={%::_SKIN[bgtable1]%}>
	    <a name="5"><font size={%::_SKIN[middlefont]%}><b><u>{%LNG[quest5]%}</u></b></font></a>
	  </td>
	</tr>
	<tr>
	  <td class="corp2" bgcolor={%::_SKIN[bgtable2]%}>
	    <font size={%::_SKIN[middlefont]%}>
	    &nbsp;<br>
	    {%LNG[msgquest5]%}<p>
	    	
	    <center><a href="#menu" class="lien"><b>{%LNG[backmenu]%}</b></a></center><p>
	    </font>
          </td>
        </tr>
 
        <tr>
          <td class="corp" bgcolor={%::_SKIN[bgtable1]%}>
	    <a name="7"><font size={%::_SKIN[middlefont]%}><b><u>{%LNG[quest7]%}</u></b></font></a>
	  </td>
	</tr>
	<tr>
	  <td class="corp2" bgcolor={%::_SKIN[bgtable2]%}>
	    <font size={%::_SKIN[middlefont]%}>
	    &nbsp;<br>
	    {%LNG[msgquest7]%}<p>
	    	
	    <center><a href="#menu" class="lien"><b>{%LNG[backmenu]%}</b></a></center><p>
	    </font>
          </td>
        </tr>

        <tr>
          <td class="corp" bgcolor={%::_SKIN[bgtable1]%}>
	    <a name="8"><font size={%::_SKIN[middlefont]%}><b><u>{%LNG[quest8]%}</u></b></font></a>
	  </td>
	</tr>
	<tr>
	  <td class="corp2" bgcolor={%::_SKIN[bgtable2]%}>
	    <font size={%::_SKIN[middlefont]%}>
	    &nbsp;<br>
	    {%LNG[msgquest8]%}<p>
	    	
	    <center><a href="#menu" class="lien"><b>{%LNG[backmenu]%}</b></a></center><p>
	    </font>
          </td>
        </tr>
      </table><P>
    </td>
    <td width="30" nowrap background="{%::_SKIN[repimg]%}/bgdroite.gif">&nbsp;</td>
  </tr>
</table>